<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>My Sidepanel</title>
    <link href="color-theme.css" rel="stylesheet" type="text/css" />
    <link href="create-project.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div>
          <h1>Criar Projeto</h1>
        </div>
      </div>
      <div id="content-box" class="content-box">
        <div id="project-name" class="input-field">
          <label class="input-label">Nome do Projeto</label>
          <input id="project-name-input" type="text" class="input-text">
        </div>
        <div id="relation-id" class="input-field">
          <label class="input-label">ID da Relation de Mapeamento</label>
          <input id="relation-id-input" type="text" class="input-text">
        </div>
        <div id="amenities-list" class="input-field">
            <fieldset id="amenities-fieldset" class="multiple-select">      
                <legend>Amenities Aceitas</legend>
            </fieldset>      
        </form>
        </div>
      </div>
      <div class="footer">
        <div  class="input-field">
          <button id="create-project-button" class="create-project-button">Criar Projeto</button>
        </div>
        <div class="input-field">
          <button id="cancel-button" class="cancel-button">Cancelar</button>
        </div>
      </div>
    </div>
    <script type="module" src="../scripts/utils/eth-utils.js"></script>
    <script type="module" src="../scripts/controllers/create-project.js"></script>
  </body>
</html>
